<div class="card mt-3">
  <div class="card-header">Paiement</div>

  <div class="card-body">
    <form #checkoutForm="ngForm" (ngSubmit)="checkout(checkoutForm.value)">
      <div class="mb-2">
        <label class="form-label" for="field-name">Nom</label>
        <input id="field-name" name="name" ngModel #nameModel="ngModel" class="form-control"
          [class.is-invalid]="nameModel.invalid && nameModel.touched" [class.is-valid]="nameModel.valid" required />
        @if(nameModel.invalid) {
          <span class="invalid-feedback">Champ obligatoire</span>
        }

      </div>

      <div class="mb-2">
        <label class="form-label" for="field-address">Adresse</label>
        <textarea id="field-address" name="address" ngModel #addressModel="ngModel" class="form-control"
          [class.is-invalid]="addressModel.invalid && addressModel.touched" [class.is-valid]="addressModel.valid"
          required></textarea>

        @if(addressModel.invalid) {
          <span class="invalid-feedback">Champ obligatoire</span>
        }
      </div>

      <div class="mb-2">
        <label class="form-label" for="field-creditCard">Carte de crédit</label>
        <input id="field-creditCard" name="creditCard" ngModel #creditCardModel="ngModel" class="form-control" required
          pattern="^[0-9]{3}-[0-9]{3}$" [class.is-invalid]="creditCardModel.invalid && creditCardModel.touched"
          [class.is-valid]="creditCardModel.valid" required />

        @if(creditCardModel.getError('required')) {
          <span class="invalid-feedback">Champ obligatoire</span>
        } @else if (creditCardModel.getError('pattern')) {
          <span class="invalid-feedback">Numéro invalide (exemple : 123-456)</span>
        }
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-success" [disabled]="checkoutForm.invalid">Valider</button>
      </div>
    </form>
  </div>
</div>

<div class="mt-3 alert alert-danger alert-dismissible" role="alert">
  Désolé, une erreur s'est produite.
  <button type="button" class="btn-close" aria-label="Close"></button>
</div>

<div class="mt-3 alert alert-success" role="alert">
  <h4 class="alert-heading">Confirmation de la commande 🎉</h4>
  n° de transaction: <strong>1</strong>
  <hr />
  <a class="alert-link">Retourner à l'accueil</a>
</div>